<h1><%#=link_to "Your Games", player_games %> > Game Rounds</h1>

<table>
  <tr>
    <th>Round Number</th>
	<!--<th>Game Round Status</th>-->
    <!--<th>Opponent Status</th>-->
    <!--<th></th>-->
    <th></th>
  </tr>

<% round_check = false%>

<% @game_rounds.each_with_index do |game_round, index| %>
  <tr>
    <td style="text-align:center;">
		Round <%= index+1%>
	</td>
	<!--<td>
		<%#=game_round.game_round_status%>
	</td>-->
	<!--<td>
		<%#if @player.id == @game.player1_id%>
			<%#= game_round.player2_status %>
		<%#else%>
			<%#= game_round.player1_status %>
		<%#end%>
	</td>-->
    <td style="text-align:center;">
    	<%if !game_round.game_round_status%>
    		<%if !round_check%>
    			<b><%= link_to 'Play', controller: :players, action: :expectation_measure_form, :id => game_round.id %></b>
    			<%round_check = true%>
    		<%else%>
    			Round not initialized
    		<%end%>
    	<%else%>
    		Round complete
    	<%end%>
    </td>
  </tr>
<% end %>
</table>
