<div>
	<table class="body">
		<tr>
			<td valign="top" style="border-right: 2px solid #A0A0A0; width: 33%">
				<h2>Game Phases</h2>
				<ul>
					<li>Strategize</li>
					<li>Negotiate</li>
					<li>Transfer</li>
					<li>Feedback</li>
				</ul>
			</td>				
		
			<td id="gamearea" valign="top">
				<%= render :partial => 'gamearea'%>
			
			</td>
			
			<td valign="top"style="border-right: 2px solid #FFFFFF;">
				<h2>Cooperation and Communication</h2>
			</td>
		</tr>
	</table>
</div>
